* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #f8f8f8;
  --color-secondary: #27AE60;
  --color1: #FFFFFF;
  --color2: #000;
  --grey0: #f8f8f8;
  --grey1: #dbe1e8;
  --grey2: #b2becd;
  --grey3: #6c7983;
  --grey4: #454e56;
  --grey5: #2a2e35;
  --grey6: #12181b;
  --form-bg: #f8f4e5;
  --form-shadow: #ffa580;
  --form-primary-highlight: #95a4ff;
  --form-secondary-highlight: #ffc8ff;
  --font-size: 14pt;
  --font-face: 'Fjalla One';
  --font-color: #2A293E;
}

.dark-mode {
  --color-primary: #454e56;
  --color1: #000;
  --color2: #b2becd;
  --grey0: #12181b;
  --grey1: #2a2e35;
  --grey2: #6c7983;
  --grey3: #b2becd;
  --grey4: #454e56;
  --grey5: #dbe1e8;
  --grey6: #f8f8f8;
  --form-bg: #2a2e35;
  --form-shadow: #3c543a;
  --font-color: #ffffff;
}

body {
  background-color: var(--color-primary);
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  color: var(--color2);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 10rem;
  background-color: var(--color-primary);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.section {
  -webkit-transform: translate(-100%) scale(0);
          transform: translate(-100%) scale(0);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.sec1 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
}

@-webkit-keyframes scaleAnim {
  0% {
    -webkit-transform: translateX(-100%) scaleY(1);
            transform: translateX(-100%) scaleY(1);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@keyframes scaleAnim {
  0% {
    -webkit-transform: translateX(-100%) scaleY(1);
            transform: translateX(-100%) scaleY(1);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

.home .background .triangle {
  width: 100px;
  height: 100px;
  background-color: #27AE60;
  -webkit-box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
          box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

/*CONTACT CONTENT */
.contact .contact-us {
  background: var(--form-bg);
  padding: 50px 100px;
  border: 2px solid var(--color2);
  -webkit-box-shadow: 15px 15px 1px var(--form-shadow), 15px 15px 1px 2px var(--color2);
          box-shadow: 15px 15px 1px var(--form-shadow), 15px 15px 1px 2px var(--color2);
  width: 55%;
  margin: 1rem auto;
}

.contact .contact-us input {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 2rem;
  font-family: var(--font-face);
  margin-bottom: 2rem;
  border: none;
  border-bottom: 2px solid var(--color2);
  background: var(--form-bg);
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: var(--color2);
}

.contact .contact-us input:focus {
  border-bottom: 2px solid var(--form-shadow);
}

.contact .contact-us textarea {
  width: 100%;
  font-size: 1rem;
  line-height: 2rem;
  font-family: var(--font-face);
  margin-bottom: 2rem;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--color2);
  background-color: transparent;
  resize: none;
  color: var(--color2);
}

.contact .contact-us textarea:focus {
  border-bottom: 2px solid var(--form-shadow);
}

.contact .contact-us button {
  display: block;
  margin: 0 auto;
  line-height: 2rem;
  padding: 0 20px;
  background: var(--form-shadow);
  letter-spacing: 2px;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  -webkit-box-shadow: 3px 3px 1px var(--form-primary-highlight), 3px 3px 1px 1px black;
          box-shadow: 3px 3px 1px var(--form-primary-highlight), 3px 3px 1px 1px black;
}

.contact .contact-us button:hover {
  background: black;
  color: white;
  border: 1px solid black;
}

.contact .contact-us button::-moz-selection {
  background: var(--form-secondary-highlight);
}

.contact .contact-us button::selection {
  background: var(--form-secondary-highlight);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-bottom: 5px solid var(--form-primary-highlight);
  -webkit-text-fill-color: var(--font-color);
  --box-shadow: 0 0 0px 1000px var(--form-bg) inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
  }
  100% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
  }
  100% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
}

@-webkit-keyframes shadow {
  0% {
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
  }
  100% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
}

@keyframes shadow {
  0% {
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
  }
  100% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.controls .active-btn {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}

.controls .active-btn i {
  color: var(--font-color) !important;
}

.controls .control {
  padding: 1rem;
  cursor: pointer;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .7rem 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-box-shadow: 0 0 2px var(--color2);
          box-shadow: 0 0 2px var(--color2);
}

.controls .control:hover {
  -webkit-box-shadow: 0 0 2px var(--color2);
          box-shadow: 0 0 2px var(--color2);
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.controls .control:focus {
  -webkit-transform: translateY(5px) scale(0.8);
          transform: translateY(5px) scale(0.8);
}

.controls .control i {
  font-size: 1.2rem;
  color: var(--font-color);
  pointer-events: none;
}

.theme-btn-con {
  position: fixed;
  z-index: 10;
  top: 7%;
  right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.theme-btn-con .theme-btn {
  padding: 1rem;
  cursor: pointer;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .7rem 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.theme-btn-con .theme-btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}

.theme-btn-con .theme-btn i {
  font-size: 1.5rem;
  color: var(--font-color);
  pointer-events: none;
}
/*# sourceMappingURL=nitish2.css.map */